<p>
  <mat-toolbar color="primary">
    <span>SmartTrain</span>
    <span class="example-spacer"></span>


    <button mat-icon-button class="example-icon" (click)="editInfo()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" (click)="goHome()">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
</p>

<router-outlet ></router-outlet>
